@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "iranSans";
  src: url(../src/assets/Fonts/IRANSansX-Medium.woff);
}

@theme{
  --font-iranSans: "iranSans";
}